/* custom classes */
.um-logo-sony {
    width: 70px;
    padding: 10px 0px;
}

.um-hero-bg {
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.um-itt-bg {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.um-hero-padding {
    padding-top: 300px;
}

/* colors */
.um-bg-red {
    background-color: rgba(164, 49, 12, 1);
}
.um-bg-gray {
    background-color: rgba(152, 150, 150, 1);
}
.um-bg-gray-light {
    background-color: rgba(174, 174, 176, 1);
}
.um-bg-blue-night {
    background-color: rgba(18, 22, 47, 1);
}

.um-c-blue {
    color: rgba(57, 145, 217, 1);
}

.um-c-dark-blue {
    color: #2a54b8;
}
